<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>80488846120-t9db2n7nrfnthls5a50cv6r4qd9ckoio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80488846120-t9db2n7nrfnthls5a50cv6r4qd9ckoio</string>
	<key>API_KEY</key>
	<string>AIzaSyBDhph0xt2usjQ5NEfWAMcpOhlgDbxiZi8</string>
	<key>GCM_SENDER_ID</key>
	<string>80488846120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codmi.bingochat</string>
	<key>PROJECT_ID</key>
	<string>bingochat-93a15</string>
	<key>STORAGE_BUCKET</key>
	<string>bingochat-93a15.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:80488846129:ios:e081089486aa8a3f</string>
	<key>DATABASE_URL</key>
	<string>https://bingochat-93a15.firebaseio.com</string>
</dict>
</plist>
